@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GearOptimizer.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    <h4><strong>User Name:</strong> @Html.TextBoxFor(m => m.Email)</h4>

    <h4><strong>Password:</strong> @Html.PasswordFor(m => m.Password)</h4>

    <input type="submit" value="Log in" />


}