@model GearOptimizer.Models.Gear

@{ 
    ViewData["Title"] = "Delete Gear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete... @Html.DisplayFor(modelName => Model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(modelId => Model.Id)

    <input type="submit" value="Delete Gear" />
}